DirectoryIndex index.php
Options -Indexes

<Files "*">
    Require all denied
</Files>

<Files "index.php">
    Require all granted
</Files>

<Files "">
    Require all granted
</Files>

<Files "*.ini">
    Require all denied
</Files>

<FilesMatch "\.(mp3)$">
    Require all granted
</FilesMatch>
