<Files "*">
    Require all denied
</Files>

<Files "index.php">
    Require all granted
</Files>

<Files "">
    Require all granted
</Files>

<Files "*.ini">
    Require all denied
</Files>

DirectoryIndex index.php
